<html>
    <body>
        <h1>Hello</h1>
        <table>
            <tr>
                <td>Id</td>
                <td>Titulo</td>
            </tr>
            <%for(var i=0;i<lista.lenght;i++) {%>
                <tr>
                    <td><%=lista[i].id%</td>
                    <td><%=lista[i].titulo%</td>    
                </tr>
            <%}%>   
        </table>
    </body>
</html>